@model IEnumerable<Garage_2._0.Models.ParkedVehicle>

@{
    ViewBag.Title = "Parking Lot";
}

<h2>Parking lot</h2>

<p>

    @if (Model.Count() < 5)
    {
        @Html.ActionLink("Park new vehicle", "Create")
    }
   
</p>

<table class="table sortable table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)  
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrOfWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th class="sorttable_nosort"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfWheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Check out", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/sorttable.js"></script>
