@model Garage_2._0.Models.RecieptViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reciept</title>
</head>
<body>
    <div>
        <h4>Parking Reciept</h4>
        <hr />
        
        <dl class="dl-horizontal">
            <dt><b> @Html.DisplayNameFor(model => model.Id)</b> @Html.DisplayFor(model => model.Id)</dt>
            <dt><b> @Html.DisplayNameFor(model => model.RegNr)</b> @Html.DisplayFor(model => model.RegNr)</dt>
            <dt><b> @Html.DisplayNameFor(model => model.TimeStamp)</b> @Html.DisplayFor(model => model.TimeStamp)</dt>
            <dt><b> @Html.DisplayNameFor(model => model.Now)</b> @Html.DisplayFor(model => model.Now)</dt>
            <dt><b> @Html.DisplayNameFor(model => model.Duration)</b> @Html.DisplayFor(model => model.Duration)</dt>
            <dt><b> @Html.DisplayNameFor(model => model.PricePerMinute)</b> @Html.DisplayFor(model => model.PricePerMinute)</dt>
            <dt><b> @Html.DisplayNameFor(model => model.Cost)</b> @Html.DisplayFor(model => model.Cost)</dt>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Confirm", "Index")
    </p>
</body>
</html>
