@model Garage_2._0.Models.ParkedVehicle

@{
    ViewBag.Title = "Registration number";
}

<h2>Registered Numbers</h2>

<div>
    <h4>Parked vehicles</h4>
    <hr />
    <dl class="dl-horizontal">
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="id">
            <button class="btn btn-outline btn-rounded btn-sm my-0" type="submit" >Search</button>
        </form>
        </br>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Parking lot", "Index")
</p>
